# How to save a .CSV file to the output folder of your Kaggle notebook

*Step 1: Save the data to the working directory*

In [1]:
import pandas as pd
PHD_STIPENDS = pd.read_csv('/kaggle/input/phd-stipends/csv') # load from notebook input
PHD_STIPENDS.to_csv('/kaggle/working/phd_stipends.csv',index=False) # save to notebook output
PHD_STIPENDS.head(10)

,University,Department,Overall Pay,LW Ratio,Academic Year,Program Year,12 M Gross Pay,9 M Gross Pay,3 M Gross Pay,Fees,Comments
0,"City, University of London",Mathematics,"$16,000",NaN,2019-2020,1st,"$16,000",NaN,NaN,NaN,NaN
1,University of Warwick (UK),Chemistry,"$19,685",NaN,2019-2020,3rd,"$19,685",NaN,NaN,NaN,NaN
2,University of Oxford,Chemistry,"$19,700",NaN,2019-2020,3rd,"$19,700",NaN,NaN,NaN,NaN
3,"Birkbeck, University of London",Biological sciences,"$20,000",NaN,2014-2015,4th,"$20,000",NaN,NaN,NaN,NaN
4,Ohio State University (OSU),Electrical and Computer Engineering,"$23,972",1.19,2019-2020,NaN,NaN,"$18,729","$6,243","$1,000","University covers 85% health insurance, I pay ..."
5,University of Birmingham,PhD metallurgy and Materials,"$19,721",NaN,2018-2019,1st,"$19,721",NaN,NaN,NaN,NaN
6,Laval university,Forestry,"$18,000",NaN,2019-2020,3rd,"$21,000",NaN,NaN,"$3,000",NaN
7,Massachusetts Institute of Technology (MIT),Urban Studies and Planning,"$24,500",0.88,2018-2019,2nd,NaN,"$28,000",NaN,"$3,500",NaN
8,University of Tokyo,Computer Science,"$36,000",NaN,2019-2020,3rd,"$36,000",NaN,NaN,NaN,NaN
9,University College London,Physics,"$22,336",NaN,2018-2019,1st,"$22,336",NaN,NaN,NaN,NaN

*Step 2: Download the data from the output folder of your Kaggle notebook*
* Make sure you have committed your notebook 
* Open the notebook viewer by removing "/edit" from the URL
* Click on the "output" tab and download your file

![](https://i.imgur.com/3xdTfz8.png)